html {
  font-size: 10px;
  background: url(./images/background.jpg) bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: Trebuchet MS, sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;

}

body header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 40px;
  margin-bottom: -8px;
}

h2 {
  font-size: 24px;
  margin-bottom: -4px;
}

h3 {
  font-size: 14px;
  margin-bottom: -4px;
}

a {
  color: #cacaca;
  text-decoration: none;
}

.header-link:hover {
  color: #b6b6b6;
  text-decoration: underline;
}

#projects {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px auto;
  width: 250px;
  height: 250px;
  background: white;
  border-radius: 75px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  transition: 1s box-shadow;
}

.project:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.project:hover:before, .project:hover:after {
  display: block;
  content: '';
  position: absolute;
  width: 250px;
  height: 250px;
  background: rgb(245, 113, 110);
  border-radius: 75px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.project:hover:after {
  background: rgb(240, 201, 85);
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;    
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;    
  }
}

.project-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 250px;
  height: 250px;
  background: white;
  border-radius: 75px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumb {
  position: absolute;
  height: 100%;
  width: auto;

}

/* .project:hover .overlay {
  opacity: 1;
} */

.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: rgba(0,0,0,0.06);
  text-decoration: none;
  opacity: 0;
}

.overlay:hover {
  opacity: 1;
}

.overlay div {
  font-size: 12px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}