html, body {
  margin: 0;
}

body {
  padding-top: 65px;
}

#main-content {
  background: url(https://i.redd.it/bydk2rzmxem31.jpg) bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(255,255,255,0.1);
  background-blend-mode: overlay;
  width: 100%;
  height: 100%;
}